
/* Your CSS Code here. */
#btn{
    background-color: black; 
    color:white;
    border-radius: 5px;
    border-style: 0px none rgb(118, 118, 118);
    
}
#btn:hover{
    background-color:yellow;
    color: black;
    border-radius: 30px;
}